<ion-view view-title="Dashboard">
  <ion-content class="padding">



      <button ng-click="takePhoto()" class="button button-block button-primary">takePhoto</button>

      <button ng-click="choosePhoto()" class="button button-block button-primary">choosePhoto</button>

      <button ng-click="getPhoto()" class="button button-block button-primary">Photo</button>

    <img ng-show="lastPhoto !== undefined" ng-src="{{lastPhoto}}" style="text-align: center;max-width: 100%">

    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
